.done{
    text-decoration: line-through
}

.border {
    border: 1px;
    border-color: blue;
}
.white {
    color: white;
}
p {
    font-size: large;
}
.large-text {
    font-size: large;
}
h5 {
    font-size: large;
}
h6 {
    font-size: large;
}
#todo {
    margin:0;
    padding:0;
    font-size: large;
    line-height: .6em;
}
.scroll {
    max-height: 600px;
    overflow-y: auto;
}
.mod-padding {
    padding-right: 0px;
}



/*for border-and-line connection*/

#div1 {
    width: 100px;
    height: 100px;
    top:0;
    left:0;
    background:#777;
    position:relative;
}
#div2 {
    width: 100px;
    height: 100px;
    top:200px;
    left:300px;
    background:#333;
    position:relative;
}
#line {
    position: relative;
}

